html {
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    text-decoration: none;

}

/*header*/
header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signature {
    color: #384147;
    text-align: center;
    user-select: none;
}

.signature-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.signature-subhead {
    font-family: serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.navbar {
    background-color: #384147;

}

.navbar-toggler i {
    color: #fff;
    font-size: 25px;
}

.navbar-toggler .fa-times {
    display: none;
}

.navbar-toggler .menu-open .fa-bars {
    display: none;
}

.navbar-toggler .menu-open .fa-times {
    display: block;
}