html {
    font-family: 'Baloo Tamma 2', cursive;
    background-color: #f2f4c5;
    scroll-behavior: smooth;
}
body{
    background-color: #f2f4c5;
}
a:hover {
    text-decoration: none;
    
}

/*header*/
header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4c5;
}

.signature {
    color: #0e4838;
    text-align: center;
    user-select: none;
    background-color: #f2f4c5;
}

.signature-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin-bottom: 30px;
    
}

.signature-subhead {
    font-family: serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.navbar {
    background-color: #a0b8aa;
    border-radius: 8px;

}

.navbar-toggler i {
    color: #dad625;
    font-size: 25px;
}


.navbar-toggler .menu-open .fa-bars {
    display: none;
}


.navbar-nav {
    padding: 20px;
}

.nav-link {
    color: #0e4838;
    text-transform: uppercase;
    font-size: 12px;
    transition: opacity .5s;
}

.nav-link:hover {
    color: #0e4838;
    opacity: .6;
}

/*about*/
.about-content {
    display: flex;
    flex-direction: column;
}

.about-description {
    width: 100%;
    background-color: #f2f4c5;
    padding: 40px;
    outline: 5px solid rgba(218, 214, 37, 0.5);
    outline-offset: -5px;
    order: 2;
    margin-top: 5px;
}

.about-image {
    order: 1;
}

.about-image img{
    width: 100%;
    height: auto;
    display: block;
}

/* portfolio */
.section-heading {
    position: relative;
    display: block;
    margin-bottom: 100px;
}


.heading-title {
    text-transform: uppercase;
    color: #0e4838;
    font-size: 50px;
}

.portfolio-content {
    position: relative;
    overflow: hidden;
    color:#0e4838;
    border: 2px solid #0e4838;
    margin: 10px;
}

.portfolio-content p{
    padding: 5px;
}
.portfolio-content a{
    color: #0e4838;
}

.portfolio-content a:hover{
    opacity: .6;
}

.portfolio-content ul{
    list-style: none;
    background-color: #dad625;
    margin-bottom: 0;
}


.portfolio-content img {
    transition: transform 2s;
    
}

.portfolio-content img:hover {
    transform: scale(1.1);
}


/*footer*/
footer {
    background-color: #a0b8aa;
    font-family: 'Roboto Slab', serif;
}
footer h5 {
    color: #0e4838;
    background-color: #a0b8aa;
}

.text-muted{
    color: rgba(14, 72, 56, .7) !important;
}

.input-group .btn {
    background-color: #384147;
    color: #f2f4c5;
    transition: opacity .5s;

}

footer a:hover {
    opacity: .6;
}

#footer-copyright{
    border-top: 2px solid #dad625;
    
}
/*breakpoints*/
/*medium devices*/
@media screen and (min-width: 768px) {
    .navbar{
        background-color: transparent;
    }
    .navbar-nav {
        padding: 0;
    }

    .navbar-nav li a{
        font-size: 14px;
    }

    .nav-link{
        color:#0e4838;
    }
    .nav-link:hover{
        color: #0e4838;
    }
    nav:hover .nav-link:not(:hover){
        opacity: .5;
    }   
}

@media screen and (min-width: 992px) {
    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;  
    }

    .about-content img{
        border-radius: 10px;
    }

    .about-description{
        outline: none;
    } 

    #projects_row {
        flex-wrap: nowrap;
    }
    .navbar-nav li a{
        font-size: 16px;
    }
    
}
